/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* --- */

body {
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    font-family: 'Sigmar One', cursive;
}

.hidden {
    display: none;
}

.greyout {
    opacity: 0.6;
}

.game-board {
    /* display: flex; */
    margin-top: 100px;
    width: 70%;
    height: 100%;
    background-color: #fff8e7;
    border: solid #893101 8px;
}

.game {
    font-family: 'Indie Flower', cursive;
    font-size: 20px;
    font-weight: 900;
}

.counters {
    display: flex;
    justify-content: space-between;
    font-size: 50px;
    margin: 10px 20px 40px 20px;
    color: #3A3B3C;
}

.timer {
    display: block;
}

.game-block-1 {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

}

.request {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    width: 60%;
    height: 100%;
    margin: 20px 20px 150px 20px;
    padding: 20px;
    /* position: absolute; */
    background-color: white;
    border: 5px dashed #893101;
}

#dog {
    width: 40%;
    height: 100%;
}

/* #request-box {
    width: 60%;
    height: 100%;
    position: relative;
} */

.game-block-2 {
    background-color: #f7cc9b;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    border-top: solid #893101 8px;
}

.key {
    display: flex;
    flex-wrap: wrap;
    width: 68%;
    margin-left: 20px;
    /* flex-wrap: wrap; */
}

.key > ul {
    margin-right: 30px;
    text-align: center;
    font-size: 25px;
}

#string-input {
    outline: 3px solid #d7d7d7;
    border: none;
    width: 300px;
    height: 40px;
    margin-top: 20px;
    font-size: 30px;
    font-family: 'Indie Flower', cursive;
    padding: 10px;
}

#string-input:focus {
    outline: 5px solid #e05a00;
    border: none;
    initial-value: "";
}

/* .break {
    flex-basis: 100%;
    height: 0;
} */

.game-start, .game-over {
    padding: 30px;
    position: absolute;
    text-align: center;
    background-color: #e05a00;
    color: #fff8e7;
    box-shadow: 10px 5px 5px #a9a9a9;
}

.game-start > h1, .game-over > * {
    font-size: 45px;
    margin-bottom: 40px;
}

.game-over > button {
    margin-top: 10px;
    margin-bottom: 0;
    border: none;
    background-color: transparent;
    color: #fff8e7;
    font-family: 'Sigmar One', cursive;
    font-size: 25px;
    text-align: center;
}

.game-over > button:hover {
    color: #3A3B3C;
}

.game-start > ul {
    margin-top: 30px;
    line-height: 40px;
    background-color: #fff8e7;
    color: black;
    padding: 20px;
    font-family: 'Indie Flower', cursive;
    font-size: 20px;
    font-weight: bold;
}

#start-button > input {
    margin-top: 20px;
    border: none;
    padding: 15px;
    background-color: transparent;
    color: #fff8e7;
    font-family: 'Sigmar One', cursive;
    font-size: 25px;
    text-align: center;
}

#start-button > input:hover {
    color: #3A3B3C;
}
